@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito-ExtraLight.woff") format("woff"),
    url("../assets/fonts/Nunito-ExtraLight.woff") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
