:root {
  --btns-green: #225a4b;
  --bg-beige-white: #fffcf6;
  --white-into-green: #dee9e4;
  --orange: #d57b21;
  --very-light-pink: #f6dbd5;
  --light-grey: #808080;
  --login-info-width-laptop: 389px;
  --light-brown-yellow: #816404;
  --black: #000000;
  --light-basic-green: #47685e;

  /* font family */
  --font-family-Nunito-extralight: "Nunito-extralight";
  --font-family-Nunito-bold: "Nunito-bold";
}
