@import "../../styles/variables.css";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.active {
  color: var(--light-brown-yellow);
}
.mainSec {
  background-image: url("/public/homeMedia/main_background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  margin: 0;
}
.mainImgContainer {
  width: 350px;
  border-radius: 40%;
  -webkit-border-radius: 40%;
  -moz-border-radius: 40%;
  -ms-border-radius: 40%;
  -o-border-radius: 40%;
}
.mainImg {
  border-radius: 38%;
  -webkit-border-radius: 38%;
  -moz-border-radius: 38%;
  -ms-border-radius: 38%;
  -o-border-radius: 38%;
  position: relative;
  z-index: 2;
}
aside {
  position: relative;
}
.mainSecAnimateBox {
  width: 350px;
  height: 449px;
  background-color: var(--light-basic-green);
  border-radius: 38%;
  -webkit-border-radius: 38%;
  -moz-border-radius: 38%;
  -ms-border-radius: 38%;
  -o-border-radius: 38%;
  position: absolute;
  top: 0;
  right: 100px;
}
