@import "../../styles/variables.css";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.active {
  color: var(--light-brown-yellow);
}
.mainSec {
  background-image: url("/public/homeMedia/main_background.png");
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0;
}
.mainImgContainer {
  width: 350px;
  border-radius: 40%;
  -webkit-border-radius: 40%;
  -moz-border-radius: 40%;
  -ms-border-radius: 40%;
  -o-border-radius: 40%;
}
.mainImg {
  border-radius: 35%;
  -webkit-border-radius: 35%;
  -moz-border-radius: 35%;
  -ms-border-radius: 35%;
  -o-border-radius: 35%;
}

.mainSecAnimateBox {
  width: 350px;
  height: 449px;
  background-color: var(--btns-green);
  border-radius: 35%;
  -webkit-border-radius: 35%;
  -moz-border-radius: 35%;
  -ms-border-radius: 35%;
  -o-border-radius: 35%;
  position: absolute;
}
