* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.active {
  color: var(--light-brown-yellow);
}
.mainSec {
  background-image: url("/public/homeMedia/main_background.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}
.mainImgContainer {
  width: 350px;
  border-radius: 40%;
  -webkit-border-radius: 40%;
  -moz-border-radius: 40%;
  -ms-border-radius: 40%;
  -o-border-radius: 40%;
}
.mainImg {
  border-radius: 40%;
  -webkit-border-radius: 40%;
  -moz-border-radius: 40%;
  -ms-border-radius: 40%;
  -o-border-radius: 40%;
}

.mainSecAnimateBox {
  width: 66.666667%;
  height: ;
}
