:root {
  --btns-green: #225a4b;
  --bg-beige-white: #fffcf6;
  --white-into-green: #dee9e4;
  --orange: #d57b21;
  --very-light-pink: #f6dbd5;
  --light-grey: #808080;
  --font-family-Nunito-extralight: "Nunito-extralight";
  --font-family-Nunito-bold: "Nunito-bold";
  --login-info-width-laptop: 389px;
}
