:global(.aside) {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  font-family: var(--font-family-Nunito-extralight);
  width: var(--login-info-width-laptop);
}
h1 {
  font-weight: 700;
  font-family: var(--font-family-Nunito-bold);
}

p {
  font-weight: 400;
  font-size: 16px;
  color: var(--light-grey);
}

.orgEmail {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 600;
  font-size: 19px;
  margin: 25px 0;
}
.orgLabel {
  text-indent: 5px;
  margin: 0 0 8px 0;
}
.orgInput {
  background-color: var(--white-into-green);
  padding: 12px 16px;
  width: 100%;
  border: none;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
}
.orgInput:focus {
  border: 2px solid var(--btns-green);
}
.orgInput:focus-visible {
  outline: none;
}
:global(.resetPass) {
  background-color: var(--btns-green);
  color: var(--bg-beige-white);
  border: none;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

:global(.resetPassLink) {
  color: var(--bg-beige-white);
  text-decoration: none;
  font-size: 18px;
  display: inline-block;
  width: 100%;
}
:global(.backToLink img) {
  padding: 6px 3px 0 0;
  transition: 0.4s all ease;
  -webkit-transition: 0.4s all ease;
  -moz-transition: 0.4s all ease;
  -ms-transition: 0.4s all ease;
  -o-transition: 0.4s all ease;
}
:global(.backToLink) {
  color: var(--btns-green);
  text-decoration: none;
  font-size: 18px;
  display: inline-block;
  width: 100%;
  font-weight: 600;
  margin-top: 17px;
  text-align: center;
}

:global(.backToLink:hover img) {
  transform: translateX(-10px);
  -webkit-transform: translateX(-10px);
  -moz-transform: translateX(-10px);
  -ms-transform: translateX(-10px);
  -o-transform: translateX(-10px);
}
