.inputPass {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 600;
  font-size: 19px;
  margin: 25px 0;
}

.labelPass {
  text-indent: 5px;
  margin: 0 0 8px 0;
}

.pass {
  display: flex;
  background-color: var(--white-into-green);
  padding: 10px 16px;
  width: 100%;
  border: none;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
}
.pass {
  width: 100%;
  outline: none;
  border: none;
  position: relative;
}
.pass:focus {
  border: 2px solid var(--btns-green);
}
.pass:focus-visible {
  outline: none;
}
.eye {
  position: absolute;
  top: -30px;
}
